<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="loggedIn">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSideBar()">
      <i class="fas fa-align-left"></i>
    </button>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-align-justify"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper" *ngIf="loggedIn">
  <!-- Sidebar  -->
  <nav id="sidebar" [class]="className">
    <div class="sidebar-header">
      <h3>Shivkalyan Infotech</h3>
      <strong>SK</strong>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/">
          <i class="fas fa-chart-line"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#G2CSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-angle-double-right"></i>
          G2C Services
        </a>
        <ul class="collapse list-unstyled" id="G2CSubMenu">
          <li>
            <a href="#DrivingLicense" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-car"></i>
              Driving License
            </a>
            <ul class="collapse list-unstyled" id="DrivingLicense">
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Learning</a>
              </li>
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Permanent</a>
              </li>
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Renewal</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">E Gazette</a>
          </li>
          <li>
            <a href="#">Food License</a>
          </li>
          <li>
            <a href="#GSTMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-percent"></i>
              GST Registration
            </a>
            <ul class="collapse list-unstyled" id="GSTMenu">
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Company</a>
              </li>
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Individual</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#PANMEnu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-address-card"></i>
              PAN Card - UTI
            </a>
            <ul class="collapse list-unstyled" id="PANMEnu">
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New PAN</a>
              </li>
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Company PAN</a>
              </li>
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Minor PAN</a>
              </li>
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Marriage PAN</a>
              </li>
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Correction PAN</a>
              </li>
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Track PAN</a>
              </li>
              <li>
                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coupon for PAN</a>
              </li>
            </ul>
          </li>


        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-columns"></i>
          Passport
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-file-alt"></i>
          Shop Act
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-industry"></i>
          Udyam Adhaar
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-id-card"></i>
          Voter Card
        </a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-cloud"></i>
          Other Services
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a target="_blank" href="https://bhulekh.mahabhumi.gov.in">7/12 Online</a></li>
          <li><a target="_blank" href="https://www.uidai.gov.in/">Aadhar Services</a></li>
          <li><a target="_blank"
              href="https://www1.incometaxindiaefiling.gov.in/e-FilingGS/Services/LinkAadhaarHome.html">Aadhar with PAN
              Link</a></li>
          <li><a target="_blank" href="https://serviceonline.gov.in/epass/">All India Epass</a></li>
          <li><a target="_blank" href="https://aaplesarkar.mahaonline.gov.in/en">Aaple Sarkar</a></li>
          <li><a target="_blank" href="https://mahabhunakasha.mahabhumi.gov.in/27/index.jsp">Bhu Nakasha</a></li>
          <li><a target="_blank" href="https://www.redbus.in/bus-tickets">Bus Booking</a></li>
          <li><a target="_blank" href="https://digilocker.gov.in/">Education Service</a></li>
          <li><a target="_blank" href="https://www.trivago.in/">Hotel Booking</a></li>
          <li><a target="_blank" href="https://www.irctc.co.in/nget/train-search">IRCTC</a></li>
          <li><a target="_blank" href="https://majhinaukri.in/">Job Bharti</a></li>
          <li><a target="_blank" href="https://covid19.mhpolice.in/">Maharashtra Epass</a></li>
          <li><a target="_blank" href="https://efilingigr.maharashtra.gov.in/ereg/">Maharashtra Rent Agreement</a></li>
          <li><a target="_blank" href="https://wss.mahadiscom.in/wss/wss_view_pay_bill.aspx">Mahavitaran</a></li>
          <li><a target="_blank" href="http://www.unipune.ac.in/">Pune University Admission/exam</a></li>
          <li><a target="_blank" href="https://unifiedportal-mem.epfindia.gov.in/memberinterface/">Provident Fund</a>
          </li>
          <li><a target="_blank" href="https://pcs.mahaonline.gov.in/Forms/Home.aspx">Police Verification</a></li>
          <li><a target="_blank" href="http://superprints.co">Super Prints</a></li>
          <li><a target="_blank" href="http://www.mahafood.gov.in">Ration Card Apply</a></li>
          <li><a target="_blank" href="http://mahaepos.gov.in/SRC_Trans_Int.jsp">Ration Card Check</a></li>
          <li><a target="_blank" href="https://skilling-india.net/employment/">Smart employment card</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-chart-pie"></i>
          Report
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-desktop"></i>
          Softwares
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-paper-plane"></i>
          Contact
        </a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <!-- <li>
        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
      </li> -->
      <li>
        <a href="#">
          <i class="fas fa-info-circle"></i>
          About Software
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="loggedIn">

</nav>